.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  height: 95%;
}

.row {
  height: 3rem;
  width: 296px;
  margin: 16px 0;
}

.title {
  height: 120px;
  margin: 0;
}

.chart {
  flex-grow: 1;
  width: 90%;
}

.submit {
  border-width: 2px;
  border-color: rgba(256, 256, 256, 0.8);
}
