<div class="container">
  <h1>UNIVERSE</h1>
  <div class="selector">Hello</div>
</div>
<div class="lorem">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit omnis, rerum
  fuga quam voluptates similique earum repudiandae! Quia corporis, architecto
  vero quis incidunt qui voluptatum esse quibusdam explicabo ratione sed
  obcaecati, ipsa iure facilis cum ad aut aperiam magni libero suscipit illo
  illum aspernatur pariatur! Harum explicabo nulla praesentium eligendi
  cupiditate corporis voluptates doloribus laudantium quo magnam quidem labore
  maiores, quis vitae, id commodi, ea earum repellendus. Deleniti modi ullam
  nam, illum, a blanditiis error et corrupti quisquam animi pariatur fugit sequi
  similique quasi laudantium facilis at architecto ratione molestias? Fuga
  eligendi dicta corporis, quam omnis maxime quidem doloribus similique vero
  molestiae nostrum aperiam cum accusantium, exercitationem laudantium ea
  consectetur excepturi? Ipsum facilis quis, dignissimos in nesciunt, culpa sed
  similique necessitatibus doloribus possimus reiciendis dolore repellat
  eligendi tempore provident dolor natus sapiente, itaque dicta mollitia!
  Veritatis totam, facere odit reiciendis vero sunt laudantium omnis eveniet,
  aspernatur corrupti ex consequuntur, sint nesciunt voluptatum ipsam voluptas
  eaque maiores blanditiis quisquam! Cupiditate consequatur placeat saepe! Vero
  ducimus molestiae eveniet rerum eum nihil nostrum debitis quo id nulla quasi
  eos exercitationem quaerat vel, dignissimos iusto, et neque minima quis quam
  iure. Molestias, necessitatibus facilis. Repellat id vel deserunt saepe! Hic
  explicabo adipisci expedita enim dolorum similique tempora est earum suscipit,
  architecto nemo consequuntur exercitationem, nihil totam non sunt perferendis
  consequatur. Quas facilis quod, nesciunt corporis velit odit eum atque amet!
  Nisi quam voluptatibus voluptas recusandae impedit et. Vitae, a nam corrupti
  magnam nihil voluptate nobis adipisci nostrum dolorem sequi at animi
  repellendus consequuntur repellat. Iusto quasi eos distinctio blanditiis,
  inventore aut qui, ullam iste illo libero debitis modi perferendis numquam
  rerum error. Maiores, deleniti? Ut consequuntur libero ex! Quidem omnis
  cupiditate neque ipsam nesciunt possimus. Nobis tempore molestiae
  reprehenderit qui, eos nesciunt facere totam excepturi quidem, impedit numquam
  a harum commodi dicta quibusdam repudiandae eum, quas tenetur. Nesciunt totam
  inventore nisi illo labore, voluptatibus ut, deleniti, aperiam delectus
  voluptates ab molestiae iste commodi. Deleniti explicabo, amet commodi
  exercitationem doloribus nulla quibusdam quisquam doloremque est tenetur
  eligendi nesciunt reprehenderit ipsam sapiente, aliquam laudantium officiis
  asperiores veniam iusto voluptatum illo perferendis quod? Consequatur maxime
  aliquid corporis distinctio dignissimos reiciendis sunt nemo dolores pariatur
  debitis asperiores maiores dicta tempora voluptatum doloremque consectetur
  error, cumque ex nihil tenetur obcaecati cum ipsum quisquam? Sit voluptas
  optio veniam suscipit natus expedita architecto eum nisi, officia corrupti
  minima temporibus est perferendis rerum neque totam harum cupiditate commodi
  beatae dolore perspiciatis nulla dolorem explicabo? Deserunt, molestiae
  voluptatum! Aspernatur non deleniti, odio vitae culpa reprehenderit eius
  tenetur fugiat impedit nesciunt corporis praesentium maiores minima ratione
  temporibus optio recusandae molestias! Minus dolores assumenda dolore eos est
  voluptates nostrum error accusamus omnis modi? Numquam animi aliquam
  laudantium, temporibus cum facilis quidem iure omnis exercitationem at
  consequatur, quam odio porro placeat vel.
</div>
<pre>
screenWidth   | current width of the screen
screenHeight  |	current height of the screen
pageWidth     |	width of the document
pageHeight    |	height of the document
elWidth       |	width of the element
elHeight      |	height of the element
elInY         | window scrollY position when element will appear at the bottom of the screen
elOutY        |	window scrollY position when element will disappear at the top of the screen
elCenterY     |	window scrollY position when element will be centered vertically on the screen
elInX         |	window scrollX position when element will appear at the right of the screen
elOutX        |	window scrollX position when element will disappear at the left of the screen
elCenterX     |	window scrollX position when element will be centered horizontally on the screen
index         |	index of the element when added using lax.addElements
</pre>
