<section class="row padding-x">
  <div class="avatar columns small-2">
        <img src="https://image.flaticon.com/icons/svg/2253/2253566.svg" alt="Avatar" class="avatar">
  </div>
  <div class="header-container columns">
    <div class="row">
      <div class="columns small-5 userName">{{ user.displayName }}</div>
      <div class="columns hints"><small>{{hint}}</small></div>
    </div>
    <div class="row">
      <div class="columns small-7 plusMember small"><small>{{plusMember}}</small></div>
      <div class="columns activeMembers">
        <app-members-chart></app-members-chart>
      </div>
    </div>
  </div>
</section>
