<app-greating [name]="name"></app-greating>
<article>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur ipsam
  dolore amet exercitationem porro, cupiditate repellat officiis, voluptatum
  iste, error debitis qui iusto minus. Exercitationem blanditiis sint
  perferendis suscipit odit amet quae libero quibusdam dicta corporis quo
  tenetur animi laudantium enim soluta nihil voluptatibus, ipsa, sapiente minima
  obcaecati tempora alias temporibus. Perspiciatis, temporibus dolores natus
  praesentium libero dolorem nesciunt ab veritatis eum mollitia modi alias
  adipisci odit labore repellat laboriosam quasi molestias dignissimos fugit
  cupiditate saepe architecto non et doloribus. Nam cum ullam doloribus ipsum
  voluptatem ipsam doloremque placeat cupiditate, tempora rerum deleniti nulla
  beatae repellendus earum id, porro deserunt dolorum quidem. Doloribus, ipsa.
  Aperiam earum corrupti similique porro nihil perferendis aspernatur asperiores
  recusandae voluptatem sint in nesciunt quisquam veritatis itaque ab maiores
  nulla error fuga voluptate reiciendis, pariatur blanditiis qui consequatur?
  Optio, iusto dolorum at magnam eveniet rem ipsam, reiciendis porro,
  necessitatibus deserunt nemo? Labore accusantium fuga modi consectetur
  doloremque rerum aperiam sint consequuntur aliquid inventore atque,
  consequatur aliquam nihil exercitationem quibusdam, quae animi iure incidunt
  ipsum illum, voluptas ratione aut. Molestiae obcaecati reprehenderit expedita.
  Praesentium asperiores, sequi impedit officia laudantium veritatis dicta
  temporibus id optio autem, earum repellat facilis quos at vel tempore sapiente
  ex? Ut nisi provident earum impedit modi?
</article>
<app-home></app-home>
