<mat-form-field floatLabel="always" color="warn">
  <mat-label>Name</mat-label>
  <input type="text" matInput="" required />
</mat-form-field>

<mat-form-field floatLabel="always" hideRequiredMarker appearance="outline">
  <mat-label>hideRequiredMarker</mat-label>
  <input type="text" matInput="" required />
  <mat-hint>hint text</mat-hint>
</mat-form-field>

<mat-form-field>
  <mat-label>Topic</mat-label>
  <mat-select [(value)]="selectedValue">
    <mat-option>None</mat-option>
    <mat-option value="A">A</mat-option>
    <mat-option value="B">B</mat-option>
    <mat-option value="C">C</mat-option>
  </mat-select>
</mat-form-field>
<button mat-raised-button="">
  {{ selectedValue }}
</button>

<br />
<br />
<mat-label>this</mat-label>
<mat-form-field>
  <input
    type="text"
    placeholder="Pick one"
    aria-label="Number"
    matInput
    [formControl]="myControl"
    [matAutocomplete]="auto"
  />
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displFn">
    <mat-option *ngFor="let item of filteredOptions2 | async" [value]="item">
      {{ item }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

<mat-form-field>
  <input matInput placeholder="placeholder" />
</mat-form-field>

<mat-form-field>
  <input
    matInput
    [matDatepicker]="picker"
    placeholder="Choose a date"
    [min]="minDate"
  />
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<button mat-button matTooltip="Hover me to view tooltip">tooltip</button>

<button mat-button (click)="openSnack('item deleted', 'undo')">Delete</button>
