<button mat-raised-button>hello world</button>
<button mat-flat-button>hello world</button>
<button mat-stroked-button>hello world</button>

<button mat-icon-button="">this</button>
<button mat-fab="">:)</button>
<button mat-mini-fab=""></button>

<button mat-button="" color="primary">Button</button>
<button mat-button="" color="warn">warning</button>
<button mat-button="" color="accent">accent</button>
<button mat-raised-button="" color="warn">raisedwarn</button>
<button mat-raised-button="" color="accent" disableRipple="">
  diabled ripple effect
</button>
