<p>I am roboro {{ title }} <i>&#9786;</i></p>

<div>counter: {{ counter }}</div>

<button class="btn" (click)="handleSelection('prev')">previous</button>
<ng-container *ngFor="let item of list; let i = index">
  <button
    class="btn"
    [ngClass]="{ btnActive: counter === i }"
    (click)="handleSelection(i)"
  >
    {{ item }}
  </button>
</ng-container>
<button class="btn" (click)="handleSelection('next')">next</button>

<!-- TODO the last indec change is not working :) -->
<swiper
  #swiper
  class="border"
  (indexChange)="onIndexChange($event)"
  [config]="config"
>
  <div *ngFor="let item of list; let i = index">{{ item }}</div>
</swiper>

<button (click)="testClicker()">TESTER</button>

<app-modal></app-modal>
