<div class="wrapper" ngClass="{{ visible ? 'visible' : '' }}">
  <app-header></app-header>
  <div class="scroller">
    <div class="feature section">
      <div class="background none"></div>
      <div class="section_inner">
        <div class="inner_center">
          <h1>Human Spaceflight</h1>
          <h3>Making life multiplanetary</h3>
          <a href="" class="button">
            <div class="hover"></div>
            <div class="text">View the Crew-1 Mission</div>
          </a>
        </div>
      </div>
    </div>

    <div class="section info"></div>
    <div class="section earth"></div>
    <div class="section iss"></div>
    <div class="section moon"></div>
    <div class="section mars"></div>
    <div class="section footer"></div>
    <div class="footer"></div>
  </div>
</div>
